.howitworksblock {
    text-align: center;

}

.howitworksblockcontainer {
    max-width: 1510px;
    margin: 0 auto;

}

.title {
    font-weight: 900;
    padding: 0px 45px;
    font-size: 40px;
    line-height: 40px;
    margin-top: 80px;

}

.cards {
    padding: 0 15px;
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.visiblecards {

    padding: 0 15px;
    margin-top: 54px;
    display: none;
    grid-template-columns: 1fr 1fr;
}



.row {
    margin: 0 auto;
}





@media screen and (max-width:1366px) {
    .title {
        font-size: 26px;
        line-height: 26px;
    }
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {
    .title {
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (max-width:480px) {
    .cards {
        display: none;
    }

    .visiblecards {
        display: grid;
    }
}

@media screen and (max-width:320px) {
    .title {
        font-size: 20px;
        line-height: 20px;
    }
}