.headercontainer {
    max-width: 1510px;
    margin: 0 auto;
}


.header {

    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:480px) {
    .header {
        padding: 30px 15px;
    }

}