* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {

  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: #575756;
}

input#email,
input#password {
  border: none;
  height: 45px;
  background-color: #F2F7FF;
  border-bottom: 5px solid #E9F1FF;

}